<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My sample page</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>Hakuna Matata</header>
<!--    nav>ul>(li>a[href=""]{content})*3-->
    <nav>
        <ul>
            <li><a href="https://www.google.com/" target="_blank">Google</a></li>
            <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
            <li><a href="https://chat.zalo.me" target="_blank">Zalo</a></li>
        </ul>
    </nav><main>
        <p>
            Hakuna-matata (pronounced [hɑˈkunɑ mɑˈtɑtɑ]) is a Swahili language phrase from East Africa, meaning "no trouble" or "no problems". (The word "hakuna" means "there is no/there are no", while "matata" means "troubles" or "problems".[citation needed]) The phrase was used in Disney animated film The Lion King (which features a song named after the phrase), in which it is translated as "no worries". The song is often heard at resorts, hotels, and other places appealing to the tourist trade.[clarification needed]

            In 2018, Disney's trademark of the phrase in the US[1] caused controversy in East Africa.
        </p>
    </main>
</body>
</html>