header  {
    font-family: serif;
    font-size: 3rem;
    font-weight: bold;
    color: red;
    font-variant: small-caps;
}

nav {
    font-family: cursive;
    font-size: 1.5rem;
    font-style: italic;
    color: orange;
}

article {
    font-family: fantasy ;
    font-size: 1rem;
    font-style: normal;
    color: black;
    display: inline-block;
    border: 1px dashed black;
    padding: 5px;
}

aside {
    font-family: sans-serif ;
    font-size: 0.8rem;
    font-style: normal;
    color: grey;
    display: inline-block;
    border: 0.5px dotted red;
    max-width: 30%;
}

p {
    text-indent: 1rem;
}

p::first-letter {
    font-family: cursive;
    font-size: 2rem;
    color: rgba(200,50,255,0.75);
}

footer {
    font-family: sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    color: green;
}

section {
    display: block;
}

figcaption {
    color: rgba(240,50,50,0.6);
    font-family: cursive;
    font-size: 0.75rem;
}