html {
    background-color: #868686;
    text-align: center;
    align-items: center;
}

/*font-family*/
.serif {
    font-family: serif;
    color: white;
    letter-spacing: 1vw;
    word-spacing: 3vw;
}

.sans-serif {
    font-family: sans-serif;
    color: white;
    line-height: 0;
}

.monospace {
    font-family: monospace;
    color: white;
}

.fantasy {
    font-family: fantasy;
    color: white;
    font-size: 5vw;
    font-style: italic;
}

.cursive {
    font-family: cursive;
    color: white;
    font-size: 5vh;
    font-weight: lighter;
    font-variant: titling-caps;
}

.cursive::first-letter {
    font-family: fantasy;
    font-size: 1.5em;
    color: rgb(190,120,1);
    text-transform: lowercase;
}

.multi {
    font-family: "Times New Roman", sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 900;
    color: rgba(190,110,20,0.8);
    text-decoration: underline red wavy;
}

@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url("https://mdn.mozillademos.org/files/15757/SourceSansPro-Regular.otf") format("opentype");
}

.ordinal {
    font-variant-numeric: ordinal;
    font-family: "Source Sans Pro";
}

.google_font {
    font-family: 'Indie Flower', cursive;
    font-size: 5vw;
    color: rgba(0,0,255,0.7);
    line-height: 1;
    text-shadow: 1px 1px 2px green;
    text-indent: 1rem;
    max-width: 20rem;
    margin: 0 auto;
}

.google_font::first-letter {
    font-size: 1.5em;
    color: rgba(190,0,0,0.6);
    font-weight: bold;
    text-shadow: 2px 2px 2px white;
}